<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - ALUCAR</title>
    <link rel="icon" href="../../public/images/logosemfundo.png" type="image/png">
    <link rel="stylesheet" href="../../public/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>

<body>
    <div class="container-login-geral">
        <!-- Lado Esquerdo - Logo -->
        <div class="lado-esquerdo-login">
            <div class="conteiner-logo-login">
                <img src="../../public/images/logo.png" alt="ALUCAR Logo" class="logo-login">
            </div>
        </div>

        <!-- Lado Direito - Formulário -->
        <div class="lado-direito-login">
            <button class="fechar-login">&times;</button>

            <div class="formulario-login-container">
                <h1 class="titulo-formulario-login">Login Admin</h1>

                <!-- Formulário -->
                <form class="form-login" id="form-login-admin">
                    <input type="hidden" name="tipo" value="admin">
                    <div class="grupo-input-login">
                        <label for="email-login" class="label-login">Email</label>
                        <input type="email" id="email-login" name="email" class="input-login" placeholder="mail@abc.com"
                            required>
                    </div>

                    <div class="grupo-input-login">
                        <label for="senha-login" class="label-login">Senha</label>
                        <div class="input-com-icone">
                            <input type="password" id="senha-login" name="senha" class="input-login"
                                placeholder="••••••••••••••" required>
                            <button type="button" id="toggle-senha" class="btn-toggle-senha" aria-label="Mostrar senha">
                                <i class="fa fa-eye"></i>
                            </button>
                        </div>
                    </div>

                    <div class="opcoes-login">
                        <label class="checkbox-login">
                            <input type="checkbox" name="lembrar" id="lembrar-login">
                            <span>Lembrar Login</span>
                        </label>
                    </div>
                    <p id="mensagem-login" class="mensagem-login"></p>
                    <button type="submit" class="btn-fazer-login-form">Login</button>
                </form>
            </div>
        </div>
    </div>
    <script src="../../public/js/login.js"></script>
</body>

</html>